:root {
  --unselected-color: grey;
  --hover-color: black;
  --cyan-color: cyan;
  --magenta-color: magenta;
  --yellow-color: #fff000;
  --black-color: black;
  cursor: none;
  background-color: white
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 0;
  font-style: italic;
  font-family: 'Merriweather', serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: none;
}

img {
  max-width: 100%;
  height: auto;
}

.name {
  font-size: clamp(1.5rem, 5vw, 3em);
  text-align: center;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  order: 1;
}

.links {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
  font-family: 'Merriweather', serif;
 
  gap: 18px;
  color: var(--unselected-color);
  order: 2;
}
.links a:link, .links a:visited {
  color: var(--unselected-color); 
  position: relative; 
}
.links a:hover {
  color: var(--hover-color); /* Set link color to black on hover */
  transition: color 0.6s ease; /* Add fade effect */
}
.links a:before { /* Add pseudo-element for underline */
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-color);
  visibility: hidden;
  transition: all 0.6s ease;
}

.links a#Twitter:before {
  background-color: var(--cyan-color);
}

.links a#GitHub:before {
  background-color: var(--magenta-color);
}

.links a#About:before {
  background-color: var(--yellow-color);
}

.links a:hover:before {
  visibility: visible;
  width: 100%; /* Animate underline growing from left to right */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 33.33%;
}

.custom-cursor {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
/*   background-color: black; */
  mix-blend-mode: difference; /* Add the mix-blend-mode property with the difference value */
}

.custom-cursor::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white; /* Change the background color to white */
  pointer-events: none;
  transform: translate(-50%, -50%);
  
}